* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

body {
  font-family: 'Fraunces', serif;
  font-size: 15px;
  font-weight: bold;
}

.container {
  margin: 0 auto;
  width: 80%;
}

.testata {
  width: 100%;
  background-color: #adf4f5;
  height: 60px;
  border-bottom: 1px solid black;
}

.firstnav {
  float: left;
  width: 65%;
  line-height: 62px;
}

.firstnav ul li {
  display: inline;
  margin: 0 8px;
  font-weight: bolder;
}
.firstnav a {
  text-decoration: none;
  color: black;
}
.firstnav ul li:first-child::after {
  content: "\25BE";
  font-size: 18px;
}

/* Ho dovuto aggiungere il padding per centrare per bene e non capisco dove sia il problema,
   inoltre la line-height prima dei 63px faceva in modo che il logo non venisse messo al suo posto*/
.essentials {
  display: inline-block;
  float: left;
  line-height: 63px;
}
/* Ho dovuto aggiungere il padding per centrare per bene e non capisco dove sia il problema */

.essentials ul li {
  display: inline;
  margin: 0 10px;
  font-weight: bolder;
}
.secondnav .button_1 a {
  background-color: #adf4f5;
  border: 1px solid orange;
  color: orange;
}
.secondnav .button_2 a {
  background-color: orange;
  color: white;
  border: 1px solid white;
}
.button_1 a, .button_2 a {
  padding: 8px;
  border-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
}
/*  ---Fine primo menu--- */


/* ---Inizio secondo menù--- */
.secondmenu {
  width: 100%;
  height: 8.9vh;
}
#logo {
  padding-top: 14px;
  float: left;
  width: 55%;
  padding-left: 9px;
}
.thirdnav ul li a:not(.nope)::after {
  content: "\25BE";
  font-size: 18px;
  vertical-align: middle;
}
.thirdnav ul li {
  display: inline-block;
  margin: 0 6px;

}
.thirdnav a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}
.thirdnav {
  padding-top: 19px;
  float: left;
  width: 40%;
}
/* ---Fine secondo menù--- */


/* Inizio dell'header */
.maincontent {
  width: 100%;
}
.banner {
  width: 100%;
  height: 75vh;
  background-image: url(../img/jumbotron.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  position: relative;
}

.divisore {
  background-color: #69f0d8;
  width: 100%;
  height: 10vh;
  position: absolute;
  bottom: 6.7%;
  border-top: 2px solid #404040;
  border-bottom: 2px solid #404040;
}

.headertext {
  width: 52%;
  float: left;
  padding-left: 15%;
  padding-top: 3%;
}
.headertext h1 {
  font-size: 50px;
  padding-bottom: 35px;
}
.headertext p {
  padding-bottom: 40px;
}
.headertext a {
  background-color: orange;
  font-size: 20px;
  color: white;
  border: 2px solid black;
  padding: 15px;
  border-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
}
.headertext span {
  display: inline-block;
  padding-top: 40px;
}
.camaleonte {
  background-color: #fff2ee;
  height: 75vh;
  width: 495px;
  z-index: 0;
}

.Centralcontainer {
  width: 100%;
  background-color: #fff2ee;
}

.cube {
  margin: 0 auto;
  width: 70%;
  padding-bottom: 40px;
}
.cube img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 16%;
  padding-top: 30px;
}
.cubetext h1 {
  text-align: center;
  padding-top: 20px;
}
.cubetext p {
  text-align: center;
  padding-top: 20px;
}


.CRM {
  background-color: white;
  padding: 60px 100px;
  width: 90%;
  position: relative;
}
.CRMbutton {
padding-top: 50px;
}
.CRM img {
  width: 16.9%;
}
.CRM a {
  background-color: orange;
  font-size: 20px;
  color: white;
  border: 2px solid black;
  padding: 15px;
  border-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
}

.CRMcaption {
  display: inline-block;
  padding-left: 20px;
  padding-right: 100px;
  position: absolute;
  top: 18%;
  left: 33%;
}
.bottom {
  padding-bottom: 30px;
}
.CRMcaption h3 {
  display: inline-block;
}
.CRMcaption span::after {
  margin-left: 30px;
  display: inline-block;
  border-top: 2px solid black;
  content: "";
  width: 67.7%;
  height: 2px;
}
.CRMcaption ul li {
  display: inline-block;
  list-style-type: none;
  padding-right: 30px;
  line-height: 12px;
  font-size: 16px;
}
.middlecontainer ul li::before {
  content: "\2713";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: orange;
  color: white;
  border-radius: 50%;
  padding: 5px;
  line-height: 12px;
  margin-right: 15px;
  vertical-align: -1px;
}


.marketing, .sales, .service {
  background-color: white;
  float: left;
  display: inline-block;
  width: 27.26%;
  margin-top: 50px;
  padding: 30px 30px;
}
.sales {
  margin-left: 50px;
  margin-right: 50px;
}
.marketing {
  margin-left: 60.5px;
}
.marketing img, .sales img, .service img {
  width: 35%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.sales img {
  width: 38%;
  padding-top: 12.2px;
}
.service img {
  width: 31.4%;
}
.hubtexts {
  text-align: center;
  padding-top: 30px;
}
.line {
  display: inline-block;
  border-bottom: 2px solid black;
  width: 100%;
  padding-top: 50px;
}
.feature {
  padding-bottom: 30px;
}
.sales ul li, .marketing ul li, .service ul li {
  list-style-type: none;
  padding-bottom: 20px;
}
